@at-root :root{
  --flow-gap: 20px;
  --flow-gap-large: 24px;
  --flow-gap-huge: 32px;
}
.flow{
  display: flex;
  flex-direction: column;
  gap: var(--flow-gap);

  &--24{
    gap: var(--flow-gap-large);
  }

  &--32{
    gap: var(--flow-gap-huge);
  }

  > p:not([class]),
  > ul:not([class]){
    margin-bottom: 0;
  }
}
